//
// user.scss
// Use this to write your custom SCSS
//
.button-width {
    width: 170px !important;
}


.home_desc {
    transition: font-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}

.home_desc:hover {
    font-size: 20px !important;
}
